<!DOCTYPE html>
<html>
<head>
    <title>WebDxD Student List</title>
    <link rel="stylesheet" type="text/css" href="css/style.min.css">
    <!--TODO Notice 1: insert scripts into html: later (app.js) override former (angular.js)-->
    <!--TODO Notice 2: jquery library put in body; angular library put in head-->
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-app="student">
    <div ng-controller="studentController">

        <!-- Block1: Student List -->
        <div class="student-list">
            <!--TODO Notice 3: inside ng-x: No need to {{}}; else: Write {{}}-->
            <div ng-repeat="student in students">
                <h1 ng-click="getStudentInDetail(student._id)">
                    {{student.firstName}}
                </h1>
            </div>

            <!-- sub-feature1: go to add-->
            <div ng-click="addStudent()" class="add-new">
                <h1>Add New</h1>
            </div>
        </div>

        <!-- Block2: Show Details-->
        <div ng-show="clickedStudent" class="student-detail">
            <span>First Name</span>
            <p>{{clickedStudent.firstName}}</p>
            <span>Last Name</span>
            <p>{{clickedStudent.lastName}}</p>
            <span>Age</span>
            <p>{{clickedStudent.age}}</p>
            <span>School</span>
            <p>{{clickedStudent.school}}</p>

            <!-- sub-feature1: edit-->
            <button ng-click="editStudent()">Edit</button>
            <!-- sub-feature2: delete-->
            <button ng-click="deleteStudent(clickedStudent._id)">Delete</button>
        </div>

        <!-- Block3: Add New Student -->
        <div ng-hide="clickedStudent" class="student-detail">
            <span>First Name</span>
            <div><input type="text" name="firstName" ng-model="newStudent.firstName"></div>

            <span>Last Name</span>
            <div><input type="text" name="lastName" ng-model="newStudent.lastName"></div>

            <span>Age</span>
            <div><input type="text" name="age" ng-model="newStudent.age"></div>

            <span>School</span>
            <div><input type="text" name="school" ng-model="newStudent.school"></div>

            <button ng-click="createNewStudent()">Submit</button>
        </div>

    </div>
</body>
</html>


<!--
Block1: Student List
main-feature: show all student
sub-feature1: add => pending ok

Block2: Show Details
main-feature: show detail of clicked student
sub-feature1: edit => pending
sub-feature2: delete => pending

Block3: Add New Student
main-feature: add student ok

-->

<!--
General Notice:
1. ng-x 后面跟的js file来的变量必须要加双引号

-->